#refWindow {
	position: fixed;
	top: 100px;
	x-index: 10;
	font-size: 30px;
	border-radius: 10px;
	background-color: white;
	border-color: black;
	border-width: 5px;
	border-style: solid;
	box-sizing: border-box;
	padding: 30px;
}

body {
	/*from https://www.w3schools.com/cssref/css3_pr_transform-origin.asp*/
	transform-origin: left top;
}